{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "env": {
    "dev": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
