* {
    font-family: Arial, SansSerif;
}

h1.logo {
    width: 240px;
    height: 80px;
    background: url(./img/logo.png) no-repeat 0 0;
    font-size: 0;
}

ul span {
    display: inline-block;
    vertical-align: middle;
}

ul h2 > span:nth-child(2) {
    margin-left: 8px;
    font-size: 0.8em;
}

ul.items {
    list-style-type: none;
    padding-left: 8px;
}

ul.todos {
    list-style-type: none;
    line-height: 200%;
}

ul.todos li > span:nth-child(2) {
    margin-left: 8px;
    font-size: 0.9em;
}

span.itemPicture {
    display: inline-block;
    background: url(./img/item-picture.png) no-repeat 0 0;
    width: 36px;
    height: 36px;
}

span.itemArticle {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(./img/item-article.png) no-repeat 0 0;
}

span.checkOk {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./img/b-check-ok.png) no-repeat 0 0;
}

span.check {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./img/b-check.png) no-repeat 0 0;
}
